<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/profile-details.css">
  <script src="https://kit.fontawesome.com/d27ab9503e.js" crossorigin="anonymous"></script>
  <title>Tree-Electronics-profile-details</title>
</head>

<body>
  <form id="profile-details" action="/profile-details" method="POST">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/dashboard">Tree-Electronics</a>
      <button class="navbar-toggler lg-auto custom-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarScroll" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link active fa fa-home" href="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fa fa-mobile-phone" href="/buy-cell-phone">Buy Cell Phone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fa fa-laptop" href="/buy-pc">Buy PC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fa fa-envelope" href="/contact-us-page">contact us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fa fa-user" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item fa fa-user" href="/profile-details">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item fa fa-arrow-left" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="main">
    <div class="container py-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h3 class="font-weight-light">Profile details</h3>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                  <span style="font-size: 30px; color: cadetblue;"><i class="fa-solid fa-user"></i></span>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                  <p>First name</p>
                  <p contenteditable="true" id="namefield">
                    <% if(name){ %>
                      <%= name %>
                    <% } else{ %>  
                      <%= "---" %>
                   <% } %>
                  </p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                  <span style="font-size: 30px; color: cadetblue"><i class="fa-solid fa-user"></i></span>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                  <p>Last name</p>
                  <p contenteditable="true" id="lastnamefield">
                    <% if(lastName){ %>
                      <%= lastName %>
                    <% } else{ %>  
                      <%= "---" %>
                   <% } %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                  <span style="font-size: 30px; color: cadetblue;"><i class="fa-solid fa-envelope-open-text"></i></span>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                  <p>E-mail</p>
                  <p>
                    <% if(email){ %>
                      <%= email %>
                    <% } else{ %>  
                      <%= "---" %>
                   <% } %>
                  </p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                  <span style="font-size: 30px; color: cadetblue"><i class="fa-solid fa-mobile-phone"></i></span>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                  <p>Phone number</p>
                  <p contenteditable="true" id="phonefield" name="phone">
                    <% if(phone){ %>
                      <%= phone %>
                    <% } else{ %>  
                      <%= "---" %>
                   <% } %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                  <span style="font-size: 30px; color: cadetblue;"><i class="fa-solid fa-flag"></i></span>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                  <p>Country</p>
                  <p contenteditable="true" id="countryfield">
                    <% if(country){ %>
                      <%= country %>
                    <% } else{ %>  
                      <%= "---" %>
                   <% } %>
                  </p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                  <span style="font-size: 30px; color: cadetblue"><i class="fa-solid fa-city"></i></span>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                  <p>City</p>
                  <p contenteditable="true" id="cityfield">
                    <% if(city){ %>
                      <%= city %>
                    <% } else{ %>  
                      <%= "---" %>
                   <% } %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                  <span style="font-size: 30px; color: cadetblue;"><i class="fa-solid fa-road"></i></span>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                  <p>Street</p>
                  <p contenteditable="true" id="streetfield">
                    <% if(street){ %>
                      <%= street %>
                    <% } else{ %>  
                      <%= "---" %>
                   <% } %>
                  </p>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                  <span style="font-size: 30px; color: cadetblue"><i class="fa-solid fa-code"></i></span>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                  <p>Zip code</p>
                  <p contenteditable="true" id="zipfield">
                    <% if(zip){ %>
                      <%= zip %>
                    <% } else{ %>  
                      <%= "---" %>
                   <% } %>
                  </p>
                </div>
              </div>
            </div>
            <input type="hidden" id="phone" name="phone" />
            <input type="hidden" id="street" name="street" />
            <input type="hidden" id="country" name="country" />
            <input type="hidden" id="zip" name="zip" />
            <input type="hidden" id="city" name="city" />
            <input type="hidden" id="name" name="name" />
            <input type="hidden" id="lastname" name="lastname" />
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" onclick="location.href='./change-email'" class="btn btn-secondary">Update Email </button>
              <button type="button" onclick="location.href='./update-password'" class="btn btn-secondary">Update Password</button>
              <input type="submit" id="submit" value="Update Details" class="btn btn-secondary"></button>

            </div>
            <script type="text/javascript">
              var form = document.getElementById('profile-details');
              form.addEventListener("submit", function (event) {
                // this section is for storing text from paragraphs and save, we trim them because they come with spaces in the end and in the start
                      var phone= (document.getElementById("phonefield").textContent).trimStart().trimEnd()
                      var street = (document.getElementById("streetfield").textContent).trimStart().trimEnd()
                      var country =(document.getElementById("countryfield").textContent).trimStart().trimEnd()
                      var zip =(document.getElementById("zipfield").textContent).trimStart().trimEnd()
                      var city =(document.getElementById("cityfield").textContent).trimStart().trimEnd()
                      var name = (document.getElementById("namefield").textContent).trimStart().trimEnd()
                      var lastname = (document.getElementById("lastnamefield").textContent).trimStart().trimEnd()
                      if (phone==''||street==''||country==''||zip==''||city==''||name==''||lastname==''){
                        event.preventDefault();
                      alert('Please make sure fields are not empty');
                      }else{
                      //this is for sending the values as inputs for submit
                     document.getElementById("phone").value= phone;
                     document.getElementById("street").value=street
                     document.getElementById("country").value=country
                     document.getElementById("zip").value= zip
                     document.getElementById("city").value= city
                     document.getElementById("name").value= name
                     document.getElementById("lastname").value= lastname
                    alert('Updated profile')

                    }
                     
              }
                , false);
            </script>
          </div>
        </div>
      </div>
    </div>

  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  </form>
</body>

</html>